<div class="vw-100 vh-100">
  <nav class="navbar bg-body-tertiary">
    <div class="container-md">
      <a href="#" class="navbar-brand">
        <img src="logo2.png" width="30" height="30" /> Eagle Vision
      </a>
      <div>
        Plan free (30 dias) - <a [routerLink]="['plans']">Actualizar a premium</a>
      </div>

      <button class="btn btn-outline-danger" type="button" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i>
        Cerrar Sesión
      </button>
    </div>
  </nav>
  <div class="container-md mt-2">
    <router-outlet />
  </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>