<ng-container *ngIf="client$ | async as client">
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title text-center">Genera tu Token de SDK</h5>
            <p class="card-text text-center">
                Crea y utiliza tu token de autenticación para integrar el SDK en tu aplicación.
            </p>
            <div class="alert alert-success" role="alert" *ngIf="copySuccess">
                {{copySuccess}}
            </div>
            <div class="input-group" *ngIf="client.token">
                <input [type]="isHashed ? 'password' : 'text'" class="form-control" placeholder="Token generado"
                    disabled [value]="client.token" />
                <button class="btn btn-outline-secondary" type="button" title="Mostrar Token"
                    (click)="toggleViewToken()">
                    <i class="bi bi-eye"></i>
                </button>
                <button class="btn btn-outline-secondary" type="button" title="Copiar Token" (click)="copyToken()">
                    <i class="bi bi-clipboard"></i>
                </button>
            </div>
            <div class="text-center mt-2">
                <button class="btn btn-primary" type="button" (click)="generateToken()">Generar Token</button>
            </div>

        </div>

    </div>
</ng-container>