<div class="card h-100">
    <div class="card-body">
        <h5 class="card-title text-center">Carga Masiva de Usuarios</h5>
        <p class="card-text text-center">
            Sube un archivo <strong>ZIP</strong> con múltiples imágenes de usuarios.
        </p>

        <div class="text-center mt-3">
            <button class="btn btn-outline-primary" (click)="fileInput.click()" [disabled]="uploading">
                <i *ngIf="uploading" class="spinner-border spinner-border-sm mr-1"></i>
                <i *ngIf="!uploading" class="bi bi-cloud-upload"></i> Subir Archivo ZIP
            </button>
            <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" accept=".zip" />
        </div>

        <div *ngIf="fileName" class="alert alert-info mt-3">
            Subiendo archivo: <strong>{{ fileName }}</strong>...
        </div>

        <div *ngIf="uploadMessage" class="alert alert-success mt-3">
            {{uploadMessage}}
        </div>

    </div>

</div>