<div class="card h-100">
    <div class="card-body">
        <h5 class="card-title text-center">Entrenamiento de Eagle Vision</h5>
        <p class="card-text text-center">
            Entrena el sistema con los usuarios almacenados para mejorar el reconocimiento.
        </p>

        <div class="text-center">
            <button class="btn btn-success" type="button" [disabled]="!canTrain || isTraining" (click)="startTraining()">
                <i *ngIf="isTraining" class="spinner-border spinner-border-sm mr-1"></i>
                <i *ngIf="!isTraining" class="bi bi-play-circle"></i> Iniciar Entrenamiento
            </button>
        </div>
        <div *ngIf="isTraining" class="alert alert-info mt-3">
            <strong> Realizando entrenamiento</strong>...
        </div>


    </div>

</div>